body{font-family: 'Open Sans', sans-serif;}
input, button, select, textarea {
    font-family: "Open Sans",sans-serif;
}
.greenColor{
   color:#1bbc9b;
}
/*Bootstrap Override*/
        .form-group.error input, .form-group.error select, .form-group.error textarea {border-color:#B94A48 !important; box-shadow:none !important;}
        .form-group.success input, .form-group.success select, .form-group.success textarea{ box-shadow:none !important;}
        .form-group.success .form-label, .form-group.error .form-label, .form-group.success input{color:#5c5c5c}
        label.error{ font-weight:bold;color:#B94A48; padding-top:5px;}
        label.valid{ font-weight:bold;color:#468847; background:url(/media/img/valid.png) no-repeat center center;display: inline-block; height: 24px;text-indent: -9999px;width: 24px;}
        label.radio,label.checkbox{margin-bottom:15px;}
        .input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {vertical-align:middle;}
        label { cursor:text!important; }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
    color: #f9f9f9;
    float: left;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    margin-left: 5px;
    margin-top: 5px;
    width: 16%;
}
#cssmenu ul ul {
  display: none;
}
.align-right {
  float: right;
}

/*.heading, #cssmenu > ul > li > .heading{
    padding: 30px;
	background: #f46a4d;
	color:#FFFFF;
    font-size: 18pt;
    width:100%;

}*/

.heading{
  height: 72px;
  width: 100%;
  border: 1px solid #eaeaea;
  cursor: pointer;
  z-index: 2;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background: #f46a4d;
  background: -webkit-linear-gradient(#f46a4d, #f46a4d);
  background: -moz-linear-gradient(#f46a4d, #f46a4d);
  background: -o-linear-gradient(#f46a4d, #f46a4d);
  background: -ms-linear-gradient(#f46a4d, #f46a4d);
  background: linear-gradient(#f46a4d, #f46a4d);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  display:inline-flex;
}

.logoName{
    padding-left: 20px;
    padding-top: 18px;
    text-align: left;
    width: 70%;
}

.logo{
  width:23%;
  padding-top: 14px;
  align:right;
  border-left: 2px solid #eaeaea;
}



#cssmenu > ul > li > a {
  padding: 15px 15px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background: #1bbc9b;
  /*
  background: -webkit-linear-gradient(#1bbc9b, #1bbc9b);
  background: -moz-linear-gradient(#1bbc9b, #1bbc9b);
  background: -o-linear-gradient(#1bbc9b, #1bbc9b);
  background: -ms-linear-gradient(#1bbc9b, #1bbc9b);
  background: linear-gradient(#1bbc9b, #1bbc9b);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);*/
}

#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a:hover,
#cssmenu > ul > li > ul > li > a:hover
{
  background: #1df2bf;
  background: -webkit-linear-gradient(#1df2bf, #1df2bf);
  background: -moz-linear-gradient(#1df2bf, #1df2bf);
  background: -o-linear-gradient(#1df2bf, #1df2bf);
  background: -ms-linear-gradient(#1df2bf, #1df2bf);
  background: linear-gradient(#1df2bf, #1df2bf);
	
}
.billingWidth{
  width:100%;
}
/*
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #eeeeee;
  background: #1bbc9b;
  background: -webkit-linear-gradient(#1bbc9b, #1bbc9b);
  background: -moz-linear-gradient(#1bbc9b, #1bbc9b);
  background: -o-linear-gradient(#1bbc9b, #1bbc9b);
  background: -ms-linear-gradient(#1bbc9b, #1bbc9b);
  background: linear-gradient(#1bbc9b, #1bbc9b);
  width:100%;
}*/
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #FFFFFF;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #FFFFFF;
}
/*.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}*/
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
/*.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}*/
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #1bbc9b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #1bbc9b;
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #36aae7;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
/*
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}*/
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}

.numberGreenCircle {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #1bbc9b;

    border-radius: 66px;
    color: #1bbc9b;
    display: block;
    font-size: 21px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    width: 60px;
}

.numberGreyCircle {
    background: none repeat scroll 0 0 #fff;

    border: 2px solid #c2c2c2;
    border-radius: 66px;
    color: #c2c2c2;
    display: block;
    font-size: 21px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    width: 60px;
}
.nogrid > div {
  border:none;
}

